<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Required entitlements for MAS --> 
    <!--<key>com.apple.security.app-sandbox</key>    <true/> --> 
    <!--<key>com.apple.security.inherit</key>    <true/> --> 
    <key>com.apple.security.cs.allow-unsigned-executable-memory</key><true/>
    <key>com.apple.security.cs.allow-jit</key><true/>
   <!-- <key>com.apple.security.app-sandbox</key><true/>-->
	  <!-- <key>com.apple.developer.kernel.increased-memory-limit</key> <true/> -->

    <key>com.apple.security.cs.disable-executable-page-protection</key> <true/>
    <key>com.apple.security.cs.disable-library-validation</key> <true/>


    <key>com.apple.security.network.client</key><true/>
    <key>com.apple.security.network.server</key><true/>
    <key>com.apple.security.device.print</key><true/>
    <!-- <key>NSScreenRecordingUsageDescription</key> -->
    <!-- <string>Diese App benötigt Zugriff auf die Bildschirmaufnahme, um Screenshots zu erstellen.</string> -->
    <!-- <key>com.apple.developer.networking.multicast</key><true/>   leads to invalid code-signature crash despite signign and notarizing without errors -->
  </dict>
</plist>