{
	"trailingComma": "none",
	"singleQuote": true,
	"tabWidth": 4,
	"semi": false,
	"printWidth": 300,
	"useTabs": false,
	"jsxBracketSameLine": true,
	"overrides": [
		{
			"files": ["**/*.css", "**/*.scss", "**/*.html"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
